PESAPAL_ENVIRONMENT=sandbox
PESAPAL_BASE_URL=https://cybqa.pesapal.com/pesapalv3
PESAPAL_CONSUMER_KEY=your_consumer_key
PESAPAL_CONSUMER_SECRET=your_consumer_secret
PESAPAL_CALLBACK_URL=https://kwmemtmznlpjsezwjqmn.supabase.co/functions/v1/pesapal-callback
PESAPAL_IPN_URL=https://kwmemtmznlpjsezwjqmn.supabase.co/functions/v1/pesapal-ipn
PESAPAL_CANCELLATION_URL=http://127.0.0.1:5173/#/onboarding
PUBLIC_APP_URL=http://127.0.0.1:5173
